:root {
    --top-bar-height: 4rem;
}

body {
    height: 100%;
}

a {
    text-decoration: none;

    white-space: nowrap;
}

.navbar .input-group > * {
    background-color: #e3e3e3;
}

.navbar .form-control:focus {
    border: 0;
    box-shadow: none;
}

.navbar-collapse {
    flex-basis: 0;
}

.sidebar {
    width: 14rem;
    min-height: 100vh;
}

/*    md-breakpoint    */
@media (max-width: 768px) {
    .sidebar {
        width: 6rem;
    }
}

.logo_mobile {
    max-width: 60%
}

.content-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.content {
    /*flex: 1 0 auto;*/
}

.top_bar {
    height: var(--top-bar-height);
}

.sidebar .sidebar-brand {
    height: var(--top-bar-height);
}

.sidebar nav {
    background-image: url("img/sidebar-bg.png");
    background-position: center;
    background-size: cover;
    background-color: #051e34;
}

.sidebar i {
    display: inline-block;
    margin-right: 0;
    color: white;
    font-size: 1.2rem;
}

.sidebar a {
    color: white;
}

.sidebar .nav-item {
    margin-bottom: 1rem;
}

.sidebar .nav-item span,
.sidebar .user_name span {
    padding-left: 1rem;
}

.page_content .row:first-child {
    background-color: #1b71e6;
}

.breadcrumb_col span {
    color: white;
}

.page_content {
    color: white;
}

.page_content .row:last-child {
    padding-top: 10px;
}

.page_content .breadcrumb_col a {
    padding: 2px 8px;
    border-radius: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: url("img/angles-right-solid.svg");
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
}


