:root {
    --header-height: 4rem; /*    4rem - 0.5rem padding top&bot    */
    --sidebar-width: 10rem;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

ul {
    list-style: none;
}

/*****************************************
    HEADER
*****************************************/
.header {
    height: var(--header-height);
}

.dropdown_bell.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-toggle::after {
    display:none;
}

.logo_container .lg-logo {
    max-width: 100%;
}

.logo_container .sm-logo {
    height: 50px;
}

.header .navbar .input-group > * {
    background-color: #e3e3e3;
}

.header .navbar .form-control:focus {
    border: 0;
    box-shadow: none;
}

.header .logo_container {
    min-width: var(--sidebar-width);
}

/*****************************************
    MAIN WRAPPER
*****************************************/
.main-wrapper {
    height: calc(100vh - var(--header-height));
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
}

.sidebar {
    background-image: url("img/sidebar-bg.png");
    background-position: center;
    background-size: cover;
    background-color: #051e34;
}

.sidebar i {
    margin-right: 1rem;
}

.sidebar .nav-link {
    padding: 10px;
    color: white;
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.sidebar .username {
    padding: 1rem;
}

.page_content_container {
    overflow: auto;
}

.breadcrumb_nav {
    background-color: #1b71e6;
}

.breadcrumb_col .row:first-child {
    margin-bottom: .5rem;
}

.breadcrumb_nav .breadcrumb_col a {
    padding: 1px 8px;
    border-radius: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.breadcrumb_nav {
    color: white;
}

.breadcrumb-col a {
    margin-top: 50px;
}

.breadcrumb_col .title {
    font-size: 25px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: url("img/angles-right-solid.svg");
    height: 1.2rem;
    aspect-ratio: 1 / 1;
    align-items: center;
}

.btn_new_student {
    border: 1px solid white;
}

/*****************************************
    ADD STUDENT FORM
*****************************************/
.offcanvas.offcanvas-end {
    width: 50vw;
}

/*****************************************
    CARD TABLE
*****************************************/
.table th,
.table tr,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table tr th:first-child {
    text-align: left;
}

.table .btn {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.table .fa-trash,
.table .fa-pencil {
    color: rgba(0, 0, 0, 0.7);
}

.table .btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.table span {
    white-space: nowrap;
}

/*****************************************
    MD BREAKPOINT
*****************************************/
@media (max-width: 767px) {
    body {
        --sidebar-md-width: 5rem;
    }

    .header .logo_container {
        min-width: var(--sidebar-md-width);
    }

    .sidebar {
        width: var(--sidebar-md-width);
    }

    .sidebar .nav-link i,
    .username i {
        margin: 0;
    }

    .page_content_container {
        width: calc(100vw - var(--sidebar-md-width));
    }

    .breadcrumb_nav [class*=col] {
        margin-top: 5px;
    }

    .offcanvas.offcanvas-end {
        width: 100vw;
    }
}

/*****************************************
    SM BREAKPOINT
*****************************************/
@media (max-width: 576px) {
    .breadcrumb_nav [class*=col] {
        margin-top: 5px;
    }
}