body {
    height: 100%;
}

.navbar .input-group > * {
    background-color: #e3e3e3;
}

.navbar .form-control:focus {
    border: 0;
    box-shadow: none;
}

.navbar-collapse {
    flex-basis: 0;
}

.sidebar {
    width: 14rem;
    min-height: 100vh;
}

.content-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.content {
    flex: 1 0 auto;
}
